<div class='pagination-navigation'>
    <button type='button' class='btn page prev' name='previous'>Previous</button>
</div>
<div class='pagination-pages'>
    <span>page [[= page ]] of [[= total_pages ]]</span>
</div>
<div class='pagination-navigation'>
    <button type='button' class='btn page next' name='next'>Next</button>
</div>
<br class='pagination-clear'>